.loginContainer {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20%;
}

.loginBox {
    padding: 20px;
    margin-top: 20px;
    border: none;
    background-color: lightgrey;

}

.loginBox,
.loginBox::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 1.8;
}

.loginButton {
    margin-top: 25px;
    background-image: url("https://user-images.githubusercontent.com/72266712/116601949-0dfdec00-a8f9-11eb-8255-562b72ae7afb.png");
    background-size: contain;
    padding: 20px;
    width: 260px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 30px;
    border: 3px solid;
    font-size: 30px;
    text-shadow: #000000 8px 8px 7px;
}

.loginButton:hover {
    background-color: rgb(135, 196, 250);
}