* {
    margin: 0;
    padding: 0px;
    font-size: 18px;
}

.h1 {
    font-size: 55px;
  }
  

.footerimg {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
.footer-wrapper {
    text-align: center;
}




  
  