* {
  margin: 0;
  text-align: center;
}

body {
  background: url("https://user-images.githubusercontent.com/72266712/115768619-8e13d700-a378-11eb-82bb-c08aa7ffe625.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.FullPage {
  margin: 2%;
}
.footer-wrapper{
  left: 0;
  right: 0;
  text-align: right;
  margin-top: 2%;
}
.plantList, .plantForm {
  margin-top: 5%;
}