@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

body {
  font-family: 'Commissioner', sans-serif;
  text-align: center;
  background-color: rgb(44, 51, 58);
}

.time {
  font-size: 4.5em;
  color: white;
  margin: 10px;
}

button {
  border: none;
  background-color: white;
  font-size: 2em;
  height: 2.5em;
  width: 5em;
  color: rgb(44, 51, 58);
}

